@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lato');

.dancing{
    font-family: 'Dancing Script';
    font-size: 250px;
    padding : 0;
    margin : 0;
}

.lato{
    font-family: 'Lato';
    font-size: 160px;
    padding : 0;
    margin : 0;
    line-height : 100px;
}

body {
    margin-top: 10%;
    margin-left: 2em;
    background: linear-gradient(270deg, #3bc09a, #fbf7e9, #333333, #fc674e, #3f96a3);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 48s ease infinite;
    -moz-animation: AnimationName 48s ease infinite;
    animation: AnimationName 48s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}